@import "tailwindcss";

:root {
  --background: #0B1120;
  --foreground: #ffffff;
  /* --surface: #233458;
  --primary: #3080FF;
  --gradient-primary-start: #003CFF;
  --gradient-primary-end: #5093FF;
  --number-gradient-start: #FFFFFF;
  --number-gradient-end: #0084FF;
  --shadow-red: rgba(255, 80, 80, 0.25);
  --border-blue: #004DC8;
  --hover: #A2C9FF;
  --text-primary: #FFFFFF;
  --text-highlight: #5093FF;
  --text-secondary: #9D9D9D;
  --text-no-focus: #BBBBBB;
  --text-focus: #A2C9FF;
  --surface-divine: #343434; */
}

@theme inline {
  --background: var(--background);
  --foreground: var(--foreground);
  --surface: #233458;
  --primary: #3080FF;
  --gradient-primary-start: #003CFF;
  --gradient-primary-end: #5093FF;
  --number-gradient-start: #FFFFFF;
  --number-gradient-end: #0084FF;
  --shadow-red: rgba(255, 80, 80, 0.3);
  --border-blue: #004DC8;
  --hover: #A2C9FF;
  --text-primary: #FFFFFF;
  --text-highlight: #5093FF;
  --text-secondary: #9D9D9D;
  --text-no-focus: #BBBBBB;
  --text-focus: #A2C9FF;
  --surface-divine: #343434;
  --background-secondary: #001C58;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

.stroke-text-hollow {
  color: transparent; /* Làm chữ trong suốt (rỗng ruột) */
  -webkit-text-stroke: 3px var(--color-gray-400); /* Viền trắng dày 3px */
  text-stroke: 3px var(--color-gray-400); /* Fallback cho các trình duyệt khác */
  font-family: 'Arial Black', sans-serif; /* Font đậm để viền rõ hơn */
}

.stroke-text-hollow2 {
  color: transparent; /* Làm chữ trong suốt (rỗng ruột) */
  -webkit-text-stroke: 0.75px var(--color-white); /* Viền trắng dày 3px */
  text-stroke: 0.75px var(--color-white); /* Fallback cho các trình duyệt khác */
  font-family: 'Arial Black', sans-serif; /* Font đậm để viền rõ hơn */
}

.text-gradient {
  background: linear-gradient(180deg, var(--number-gradient-start), var(--number-gradient-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}